extends layout

block content
    h1= title
    p Welcome to #{title}
    form(action='search')
        | Departure:
        br
        input(type='text', name='Departure', value='Irvine')
        br
        | Destination:
        br
        input(type='text', name='Destination', value='Berkeley')
        br
        br
        input(type='submit', value='Submit', id='search')

    .package_card(hidden=!showResult)
        .node
            p #{JSON.parse(result)}
            p #{JSON.parse(result)['distance']}

            p Departure
            p
            p   *
        .node
            p Train
            p
            p   *
        .node
            p Plane
            p
            p   *
        .node
            p Destination
footer

    script(type='text/javascript').
        $("#search").on("click", function (event) {
            $("package_card").show();
        });